{% extends "key_header.html" %}
{% block body %}
<div class="controlbar">
  <h1>eGT Web Based Keying Platform</h1>


</div>
<div id="two" >
        <img id="image" src="/static/images/demo2.png" />
		</img>
		
		<script type="text/javascript">
;(function($) {
	$(document).ready(function() {
		var $img = $("#image").imgViewer();
	});
})(jQuery);
</script>

    	</div>
<div class="footer">
<h2><a href="{{ url_for('index') }}">Index</a></h2>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
</div>

{% endblock %}
