{% extends "key_header.html" %}
{% block body %}
<div class="controlbar">
  <h1>eGT Web Based Keying Platform</h1>


</div>
<div id="two" >
        <img id="image" src={{ kt.png }} />
		</img>
		
		<script type="text/javascript">
;(function($) {
	$(document).ready(function() {
		var $img = $("#image").imgViewer();
	});
})(jQuery);
</script>

    	</div>
<div class="footer">
  <div class="footerblock">
  <h2>Navigation</h2>
  <ul>
    <li>  <a href="{{ url_for('index') }}">Index</a> </li>
    <li>  <a href="{{ url_for('audit') }}">Audit</a></li>
  </ul>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  </div>
  <div class="footerblock">
  <form id="answerform" name="input" action={{ url_for('key') }} method="post">
  <h2>Type the answer:</h2>
  <select id="combobox" name="answer">
    <option value="badoption"></option>
	{% for k,v in auto_dict.iteritems() %}
	<option value="{{k}}">{{v}}</option>
	{% endfor %}
  </select>
  <input type="hidden" name="kt_id" value="{{kt.kt_id}}"></input>
  <input type="hidden" name="pass_number" value="{% if (kt.secondpass is none or kt.secondpass == 0): %}1{% else: %}2{% endif %}"></input>
  </form>
  </div>
  <div id="fb3" class="footerblock">
  Additional instructions go here.<br> maybe even a reject button?
  <script>
$( "#answerform" ).submit(function( event ) {
  if ( $("#combobox").val() === "badoption" ) {
  event.preventDefault();
  alert("Invalid Selection");
  }
});

$(document).ready(function() {
            //set focus to 1st input field
            $(".custom-combobox-input").focus(); 
});
</script>
  </div>
</div>

{% endblock %}
